* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container {
  margin: 30px 30px;
}
.results {
  display: none;
  width: 80%;
  margin: 0 auto;

}

.results.active {
  display: block;
}
.results {
  padding: 10px;
}
.input {
width: 200px;
height: 30px;
border: 1px solid grey;
padding: 10px;
border-radius: 20px;
box-shadow: 5px 10px #888888:
}
.btn {
width: 80px;
height: 30px;
background-color: orange;
}

ul {
  list-style: none;
}
.wrapper {
  width: 300px;

}
.cover-films,
.cover-serie {
  display: flex;
  flex wrap : wrap;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
.black {
  color: black;
}
.yellow {
  color: yellow;
}

.flag {
  width: 30px;
}
/* .info  {
  display:none ;
} */
.info.active {
  display:block;
}
/* .postcards {
  display: flex;
} */
