* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container {
  margin: 30px 30px;
}
.results {
  display: none;
  width: 80%;
  margin: 0 auto;

}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.results.active {
  display: block;
}
.input {
width: 200px;
height: 30px;
border: 1px solid grey;
padding: 10px;
border-radius: 20px;
box-shadow: 5px 10px #888888:
}
.btn {
width: 80px;
height: 30px;
background-color: orange;
}
/* .results {
  display:none;
} */
.cover-films li {
  /* list-style: none; */
  text-decoration: underline;
}
/* .result.acrive {
  display:block;
} */
