* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: black;
  line-height: 100px;
}
.container {
  /* margin: 30px 30px; */
}
.logo_title {
  color: red;
  font-weight: bold;
}
.results {
  display: none;
  width: 80%;
  margin: 0 auto;

}

.results.active {
  display: block;
}
.results {
  padding: 10px;
}
.input {
width: 200px;
height: 30px;
border: 1px solid grey;
padding: 10px;
border-radius: 20px;
box-shadow: 5px 10px #888888:
}
.btn {
width: 80px;
height: 30px;
background-color: grey;
border-radius: 50px;
}

ul {
  list-style: none;
}
h2 {
  padding: 20px;
}
.wrapper {
  width:100%;
  /* background-color: grey; */

}
.cover-films,
.cover-serie {
  display: flex;
  justify-content: space-between;
  flex-wrap : wrap;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
.black {
  color: black;
}
.yellow {
  color: yellow;
}

.flag {
  width: 30px;
}
/* .info  {
  display:none ;
} */
.info.active {
  display:block;
}
.img_container {
  width: 185px;
  height: 300px;
}
.postcards {
  padding: 20px
  border: 1px solid black;
}
